@import "settings";
@import "foundation";
// Application Colors
// keresd a _settings.scss-ben

// game colors
$gamelightbrown: #dbc491;
$gamered: #DC5949;
$gamebrown:#D6B972;
$gameyellow: #EFC825;

// stash 
$stashred: #DF574B;
$stashgrey: #75756D;
$stashlight: #E3D8BC;
$stashdarkgrey: #7C7C7C;
$stashgreen: #3FAA96;

.panel-top {
    height: 100%;
}

.menu-group.primary {
    background-color: #bdbdbf;
}

.card.home {
    background: $stashred;
}

.card.savings {
    background: $stashgrey;
}

.card.party {
    background: $stashlight;
}

.card.food {
    background: $stashdarkgrey;
}

.card.transport {
    background: $stashgreen;
}
