@import "settings";
@import "foundation";
@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";


// Application Colors
// keresd a _settings.scss-ben

/*********

game colors

*********/ 

$gamelightbrown: #dbc491;
$gamered: #DC5949;
$gamebrown:#D6B972;
$gameyellow: #EFC825;

/*********

stash

*********/  

$stashred: #DF574B;
$stashgrey: #75756D;
$stashlight: #E3D8BC;
$stashdarkgrey: #7C7C7C;
$stashgreen: #3FAA96;

.panel-top {
    height: 100%;
}

.menu-bar {
	background-color: #ededed;
}

.menu-group.primary .menu-bar {
	background-color: #ededed;
}


/**********

stash cards

**********/

/*

.card.home {
    background: $stashred;
}

.card.savings {
    background: $stashgrey;
}

.card.party {
    background: $stashlight;
}

.card.food {
    background: $stashdarkgrey;
}

.card.transport {
    background: $stashgreen;
}

*/

/*********

just for the visible content blocks DILETE AFTER BUILD

***********/
.grid-block {
	background: rgba(0, 85, 139, 0.1);
}

/**********

ioniocon size

**********/

.larger {
    font-size: 32px;
}
