<div class="grid-content">
<a zf-open="startmodal" class="button">Open modal</a>
<div zf-modal="" id="startmodal">
    <p>Tisztában vagy azzal, mire mennyi pénzt kell költened az előtted álló hónapban, vagy csak a szerencsén múlik, hogy egyenesben tudsz-e maradni?</p>
    <p>Szimulátorunkkal letesztelheted, mennyire vagy előrelátó, mennyire tartod kézben a havi költségvetésed! A hónap első napján kézhez kapod a fizetésed; ebből kell kigazdálkodnod a következő hetek minden kiadását, s csak rajtad múlik, hogy osztod be az összeget. Határozd meg előre, mennyi pénzt szánsz a különböző kiadásokra, és teszteld le, reális volt-e a terved!</p>
    <p>A játékot 150 ezer forint bevétellel kezded, ezt az összeget kell szétosztanod az Élelmiszer, Lakásfenntartás és háztartás, Közlekedés, Szórakozás és Megtakarítás kategóriák közt. A játék indítása után a Tovább gombra kattintva haladhatsz előre a hónap napjait jelző táblán; egyes napok kiadásokat, mások újabb bevételeket rejtenek.</p>
    <p>Ha bevételed keletkezik, azt a havi fizetéshez hasonlóan szétoszthatod a költségvetési terved „zsebei” közt, viszont ha ki kell fizetned valamit, akkor csak az adott kiadási kategóriának megfelelő kasszából rendezheted, esetleg végszükség esetén a Tartalékból. Ha nem tudod törleszteni a tartozásod, a játék véget ért.</p>
    <p>A költségvetési terved nincs kőbe vésve; a hónap tízedik és huszadik napján újra lehetőséged nyílik a keretek módosítására.</p>
    <p><strong>Mit gondolsz, mire mennyit fogsz költeni? Kattints az indításhoz!</strong></p>
   <a zf-close="" class="info button">Indulás!</a>
    </div>
</div>