<div class="align-right grid-block small-up-3 medium-up-9 large-up-5 ng-scope">
    <hr class="ng-scope">
    <div class="grid-content">
        <div class="home card">
            <img src="assets/img/stash/home.png">
            <div class="card-divider">
                <label>
                    <span class="inline-label">
                    <input ng-model="home" type="search" placeholder="összeg">
                    
                    </span>
                </label>
            </div>
        </div>
    </div>
    <div class="grid-content">
        <div class="savings card">
            <img src="assets/img/stash/savings.png">
            <div class="card-divider">
                <label>
                    <span class="inline-label">
                    <input ng-model="savings" type="search" placeholder="összeg">
                    
                    </span>
                </label>
            </div>
        </div>
    </div>
    <div class="grid-content">
        <div class="party card">
            <img src="assets/img/stash/party.png">
            <div class="card-divider">
                <label>
                    <span class="inline-label">
                    <input ng-model="party" type="search" placeholder="összeg">
                    
                    </span>
                </label>
            </div>
        </div>
    </div>
    <div class="grid-content">
        <div class="food card">
            <img src="assets/img/stash/food.png">
            <div class="card-divider">
                <label>
                    <span class="inline-label">
                    <input ng-model="food" type="search" placeholder="összeg">
                    
                    </span>
                </label>
            </div>
        </div>
    </div>
    <div class="grid-content">
        <div class="transport card">
            <img src="assets/img/stash/transport.png">
            <div class="card-divider">
                <label>
                    <span class="inline-label align-right">
                    <input ng-model="transport" type="search" placeholder="összeg">
                    
                    </span>
                </label>
            </div>
        </div>
    </div>
</div>
<div class="grid-block">
<div class="grid-container">
    <a href="#" class="medium success button">Mentés</a>
    <a href="#" class="medium alert button">Mégsem</a>
    </div>
</div>

<hr class="ng-scope">
