<div class="grid-block small-up-1 medium-up-5 ng-scope">
    <hr class="ng-scope">
    <div class="grid-content">
        <div class="dark card">
            <div class="card-section">
                <h4>Lakásköltség</h4>
            </div>
            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Lakásköltség&w=350&h=150">
            <div class="card-divider">
                <label>
                    <span class="inline-label">
                    <input type="search" placeholder="összeg">
                    <a href="#" class="medium success button">Mentés</a>
                    </span>
                </label>
            </div>
        </div>
    </div>
    <div class="grid-content">
        <div class="primary card">
            <div class="card-section">
                <h4>Megtakarítás</h4>
            </div>
            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Megtakarítás&w=350&h=150">
            <div class="card-divider">
                <label>
                    <span class="inline-label">
                    <input type="search" placeholder="összeg">
                    <a href="#" class="medium success button">Mentés</a>
                    </span>
                </label>
            </div>
        </div>
    </div>
    <div class="grid-content">
        <div class="success card">
            <div class="card-section">
                <h4>Szórakozás</h4>
            </div>
            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Szórakozás&w=350&h=150">
            <div class="card-divider">
                <label>
                    <span class="inline-label">
                    <input type="search" placeholder="összeg">
                    <a href="#" class="medium success button">Mentés</a>
                    </span>
                </label>
            </div>
        </div>
    </div>
    <div class="grid-content">
        <div class="warning card">
            <div class="card-section">
                <h4>Élelmiszer</h4>
            </div>
            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Élelmiszer&w=350&h=150">
            <div class="card-divider">
                <label>
                    <span class="inline-label">
                    <input type="search" placeholder="összeg">
                    <a href="#" class="medium success button">Mentés</a>
                    </span>
                </label>
            </div>
        </div>
    </div>
    <div class="grid-content">
        <div class="alert card">
            <div class="card-section">
                <h4>Közlekedés</h4>
            </div>
            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Közlekedés&w=350&h=150">
            <div class="card-divider">
                <label>
                    <span class="inline-label">
                    <input type="search" placeholder="összeg">
                    <a href="#" class="medium success button">Mentés</a>
                    </span>
                </label>
            </div>
        </div>
    </div>
</div>
<hr class="ng-scope">
